@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div id="carrossel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="" data-slide-to="0" class="active"></li>
            <li data-target="" data-slide-to="1"></li>
            <li data-target="" data-slide-to="2"></li>

        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Uploads/01.jpg" />
            </div>
            <div class="item">
                <img src="~/Uploads/02.jpg" />
            </div>
            <div class="item">
                <img src="~/Uploads/03.jpg" />
            </div>
        </div>
    </div>
    <script>
        $("#carrossel").carousel(
            {
                interval: 4000
            });
    </script>

</div>


