body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 2px solid #ff0000;
}

th.dt-center, td.dt-center {
    text-align: center;
}

.zoom {
    overflow: hidden;
}

    .zoom img {
        visibility: collapse;

    }

    .zoom:hover img {
        visibility: visible;

    }


td.details-control {
    background: url("/img/details_open.png") no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url("/img/details_close.png") no-repeat center center;
}

.body-content {
    width:95%;
}

.inputDatatable {
    width: 100%;
    box-sizing: border-box;
    border: solid thin;
    font-size: smaller;
}

table.dataTable tbody td {
    word-break: break-word;
    vertical-align: top;
}

valor{
    width:30px;
}